# Telegram bot orqali tanlovlarni olish uchun:
# 1. @BotFather dan bot yarating va token oling
# 2. Botga /start yozing, keyin https://api.telegram.org/bot<TOKEN>/getUpdates dan chat_id ni oling
# 3. Bu faylni .env.local deb nusxalang va qiymatlarni to'ldiring

TELEGRAM_BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyz
TELEGRAM_CHAT_ID=:417305111
